{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

<div class="text-center mb-5">
<h2 class="fw-bold text-primary">About This Project</h2>
<p class="text-muted">Simple Notes Management Application</p>
</div>

<div class="row">

<div class="col-md-6 mb-4">
<div class="card p-4 shadow dashboard-card">

<i class="bi bi-code-slash display-5 text-primary mb-3"></i>

<h4>Built With</h4>

<p>Developed a Notes Management System using Flask, MySQL, HTML, CSS, Bootstrap, JavaScript with features like CRUD operations, search, and PDF export.</p>

</div>
</div>

<div class="col-md-6 mb-4">
<div class="card p-4 shadow dashboard-card">

<i class="bi bi-lightbulb display-5 text-warning mb-3"></i>

<h4>Purpose</h4>

<p>This system enables users to efficiently create, manage, organize, and access their notes with ease, improving productivity and information management.</p>

</div>
</div>

</div>

</div>

{% endblock %}

